.banner {
  position: relative;
  width: 50%;
  padding-top: 20px;
}
.banner img {
  max-width: 50%;
}
.title {
  background-color: white;
}
.title_name {
  font-size: 18px;
}
.title_subname {
  font-size: 18px;
}
/* margin, padding css */
.no_margin {
  margin: 0px !important;
}
.no_padding {
  padding: 0px !important;
}
.margin-top-20 {
  padding-top: 20px !important;
}
.margin-top-5 {
  padding-top: 5px !important;
}
.margin-top-40 {
  padding-top: 40px !important;
}
.margin-bottom-20 {
  padding-bottom: 20px !important;
}
.border-bottom-8 {
  border-bottom: 8px solid khaki;
}
.border-bottom-last {
  border-bottom: 8px solid indigo;
}
.margin-top-100 {
  margin-top: 100px;
}
.margin-top-10 {
  margin-top: 10px;
}
/* Table CSS */
.tb_title {
  font-size: 18px;
  font-weight: bold;
}
.sub_title {
  font-size: 13px;
}
.description {
  font-size: 11px;
}
.margin_left_20 {
  margin-left: 20px;
}
.column_header {
  font-size: 13px;
  font-weight: bold;
}

.p_center {
  text-align: center;
}
.count {
  font-size: 13px;
}
.layout_fixed {
  table-layout: fixed
}
.table th,
.table td {
  padding: 0px !important;
}

.table tr td p {
  margin: 0px !important;
  /*word-break:break-all;*/
}
